.bar .button.button-clear .icon:before,
.bar .button.button-clear.icon:before,
.bar .button.button-clear.icon-left:before,
.bar .button.button-clear.icon-right:before {
    font-size: 18px !important;
    line-height: 28px;
}

.bar .button.button-clear {
    padding-right: 2px;
    padding-left: 2px;
    font-weight: 300;
    font-size: 14px !important;
}
